body {
  line-height: 6;
}

#main-container {
  display: flex;
  padding: 10%;
}

.time-number {
  width: 100%;
  text-align: center;
  margin: 2px;
  background-color: rgb(131, 144, 179);
}

#time-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 9%; */
  flex: 1;
}

/* .input {
  display: block;
  border-style: none;
} */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#activity-container {
  /* width: 80%; */
  flex: 5;
}

.activity {
  width: 100%;
  display: block;
  border-style: none;
  background-color: rgb(235, 235, 235);
  margin: 2px;
}

#save-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.save {
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 2px;
  background-color: rgb(230, 219, 219);
  
}