body {
    line-height: 6;
    background-color: rgb(123, 132, 148);
  }

#planner-container {
    margin: auto;
    margin: 11%;
}

#header {
    background-color: rgb(74, 90, 133);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 20px 8px 8px;
    color: white;
}

.form {
    text-align: center;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.label {
    background-color: rgb(121, 155, 179);
    width: 8%;
    color: white;
    border-radius: 5px 0px 0px 5px;
}

.activity {
    border-style: none;
    background-color: rgb(235, 235, 235);
    margin: 2px;
    width: 85%;
}

.button {
    width: 6%;
    background-color:rgb(224, 182, 169);
    outline: none;
    border-style: none;
    border-radius: 0px 5px 5px 0px;
    font-style: italic;
}

/* IDs for color coding */
.past {
    background-color: rgb(156, 156, 156);
    border-style: none;
    margin: 2px;
    width: 85%;
}

.present {
    background-color: rgb(179, 211, 189);
    border-style: none;
    margin: 2px;
    width: 85%;
}